[Desktop Entry]
Type=Application
Name=Deleted Files Recovery
Name[de]=Gelöschte Dateien wiederherstellen
Name[ar]=استعادة الملفات المحذوفة
Name[es]=Recuperar archivos borrados
Name[fr]=Récupérer des fichiers supprimés
Name[ru]=Восстановление удалённых файлов
Name[tr]=Silinen dosyaları kurtar
Name[zh_CN]=恢复已删除的文件
Comment=Recover deleted photos, videos, music and documents
Exec=wdfr-gui
Icon=wdfr
Terminal=false
Categories=Utility;System;
